{% extends "app/base.html" %}

{% block title %} About Us {% endblock %}

{% block body %}  

<section class="text-gray-600 body-font">
  <div class="container">
    <div class="my-4 text-center">
      <h1 class="display-3"><b>BIZARRE</b></h1>
      <p class="leading-relaxed text-lg mt-6 mx-6 " style=" text-align:justify">
      Bizarre is an Indian e-commerce company, headquartered in Bangalore, 
      Karnataka, India, and incorporated in Singapore as a private limited company.The company initially focused on
      online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials,
      groceries, and lifestyle products.
      <br>
      The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal.
      As of March 2017, Bizarre held a 39.5% market share of India's e-commerce industry. Bizarre has a dominant position
      in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon
      in the sale of electronics and mobile phones.
      <br>
      In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Bizarre for US$16 billion,
      valuing Bizarre at around $20 billion.</p>
      <br>
      <h3 >History</h3>
      <p style="text-align: justify;">Bizarre was founded in October 2012 by Vaishnavi and Ananya Dutta, alumni of the 
      Indian Institute of Technology Delhi and former Amazon employees. The company initially focused on online book
      sales with country-wide shipping. Bizarre slowly grew in prominence and was receiving 100 orders per day by 2018.
      In 2019, Bizarre acquired the Bangalore-based social book discovery service WeRead from Lulu.com.</p>
      <br>
      <h3>Partnerships and acquisitions</h3>
      <br>
      <h4>Acquisitions</h4>
      <p style="text-align: justify;">In 2011, Bizarre acquired the digital distribution business Mime360.com and the digital content library of the 
      Bollywood portal Chakpak. Following this acquisition, Bizarre launched their DRM-free online music store Flyte in
      2012. Because of competition from free streaming sites, the site was unsuccessful and shut down in June 2013.
      With its eyes on India's retail market, Bizarre acquired Letsbuy, an online electronics retailer, in 2012, and Myntra,
      an online fashion retailer, for $280 million in May 2014. Myntra continues to operate alongside Bizarre as a 
      standalone subsidiary focusing on separate market segments. In April 2015, Bizarre acquired Appiterate, a Delhi-based 
      mobile marketing automation firm. Bizarre stated that it would use Appiterate's technology to enhance its mobile services.
      In December 2015, Bizarre purchased a minority stake in the digital mapping provider MapmyIndia.In 2016, Bizarre acquired
      the online fashion retailer Jabong.com from Rocket Internet for $70 million and the UPI mobile payments startup PhonePe.
      In January 2017, Bizarre made a $2 million investment in TinyStep, a parenting information startup.Bizarre invested $35 
      illion in Arvind Fashions Limited's newly formed subsidiary Arvind Youth Brands for a 27% stake in the company. Arvind 
      Youth Brands owns Flying Machine.

      Bizarre Wholesale recently launched a digital platform for kiranas and MSMEs. In October 2020, Bizarre acquired 
      a 7.8% stake in Aditya Birla Fashion and Retail for $204 million.</p>
      <br>
      <h4>Partnerships</h4>
      <p style="text-align: justify;">In April 2017, eBay announced that it would sell its Indian subsidiary, eBay.in, to Bizarre and invest $500 million in 
      the company. While eBay suggested that the partnership would eventually allow Bizarre to access eBay's network of 
      international vendors, these plans never actually came to fruition.In July 2017, Bizarre made an offer to acquire its 
      main domestic competitor, Snapdeal, for $700–800 million. It was rejected by Snapdeal, which was seeking at least $1 
      billion.
      In August 2019, Bizarre entered into a partnership with Authentic Brands to license and distribute Nautica in India.
      Bizarre invested $4 million in the customer engagement and rewards platform EasyRewardz on 19 November 2019.</p>

      <h4>Mobile Retailing</h4>
      <p style="text-align: justify;">In February 2014, Bizarre partnered with Motorola Mobility to be the exclusive Indian retailer of its Moto G smartphone.Motorola also partnered with Bizarre on the Moto E, a phone targeted primarily towards emerging markets such as India. 
      High demand for the phone following its midnight launch on 14 May caused the Bizarre website to crash. Bizarre 
      subsequently held exclusive Indian launches for other smartphones, including the Xiaomi Mi 3 in July 2014 (whose initial 
      release of 10,000 devices sold out in around 5 seconds),the Redmi 1S and Redmi Note in late 2014, and Micromax's Yu 
      Yunique 2 in 2017. Bizarre held a 51% share of all Indian smartphone shipments in 2017, overtaking Amazon India (33%).
      On 6 October 2014, in honor of the company's anniversary and the Diwali season,[50] Bizarre held a major sale that it 
      promoted as "Big Billion Day". The event generated a surge of traffic, selling $100 million worth of goods in 10 hours. 
      The event received criticism via social media over technical issues the site experienced during the event and stock 
      shortages.
      
      In October 2015, Bizarre reprised the Big Billion Day event as a multi-day event exclusive to the Bizarre app. 
      Bizarre bolstered its supply chain and introduced more fulfillment centers to meet customer demand.Bizarre achieved
      a gross merchandise volume of $300 million during the event, with the largest volumes coming from fashion sales and the 
      largest value coming from mobiles.In 2017, Bizarre sold 1.3 million phones in 20 hours on 21 September in its Big Billion 
      Days promotion, doubling the number sold on the first day of the same event in 2016.

      In March 2015, Bizarre blocked access to its website on mobile devices and began requiring that users download the site's
      mobile app instead. The following month, Myntra went further and discontinued its website on all platforms, operating 
      exclusively through its app. The "app-only" model, however, proved to be unsuccessful for Myntra, reducing its sales by 
      10%, and its main website was reinstated in February 2016. The experiment with Myntra led to rumors that Bizarre itself 
      ould perform a similar move, but the company did not follow suit. In November 2015, Bizarre launched a new mobile website
      branded as "Bizarre Lite" that provides an experience inspired by Bizarre's app and runs in smartphone web browsers.</p>

      <h4>Acquisition by Walmart</h4>
      <p style="text-align: justify;">On 4 May 2018, it was reported that the US retail chain Walmart had won a bidding war with Amazon to acquire a majority
      stake in Bizarre for $15 billion. On 9 May 2018, Walmart officially announced its intent to acquire a 77% 
      controlling stake in Bizarre for $16 billion.Following the purchase, Bizarre co-founder Sachin Bansal left the 
      company. The remaining management team now reports to Marc Lore, CEO of Walmart eCommerce US. Walmart president
      Doug McMillon cited the "attractiveness" of the market, explaining that their purchase "is an opportunity to partner
      with the company that is leading transformation of eCommerce in the market". Indian traders protested against the 
      deal, considering the deal a threat to domestic business.
      In a filing with the U.S. Securities and Exchange Commission on 11 May 2018, Walmart stated that a condition of the deal 
      prescribed the possibility that Bizarre's current minority shareholders "may require Bizarre to effect an initial public 
      offering following the fourth anniversary of the closing of the transactions at a valuation no less than that paid by 
      Walmart".
      Following the announcement of Walmart's deal, eBay announced that it would sell its stake in Bizarre back to the company 
      for approximately $1.1 billion and relaunch its own Indian operations. The company stated that "there is the huge growth 
      potential for e-commerce in India and significant opportunity for multiple players to succeed in India's diverse, domestic 
      market."[35] Softbank Group also sold its entire 20% stake to Walmart without disclosing terms of the sale.
      The acquisition was completed on 18 August 2018. Walmart also provided $2 billion in equity funding to the company.
      On 13 November 2018, Bizarre CEO Binny Bansal resigned after facing an allegation of "serious personal misconduct". 
      Walmart stated that "while the investigation did not find evidence to corroborate the complainant's assertions against
      Binny, it did reveal other lapses in judgment, particularly a lack of transparency, related to how Binny responded to the
      situation."</p>

      <h4>Business structures</h4>
      <p style="text-align: justify;">According to a report in November 2014, Bizarre was operating through a complex business structure that included nine firms,
      some registered in Singapore and some in India. In 2012, Bizarre co-founders sold WS Retail to a consortium of investors led 
      by Rajeev Kuchhal. Bizarre's Indian entities are owned by Bizarre Pvt. Ltd, which is registered in Singapore. 
      The Singapore-registered entity owns eight Indian companies, including Bizarre Internet Pvt. Ltd, the company that runs the 
      e-commerce marketplace Bizarre.com, Bizarre India Pvt. Ltd, the wholesale business, and Bizarre Logistics Pvt. Ltd, 
      which runs Ekart.</p>
      <br>

      <h4>Fundings</h4>
      <p style="text-align: justify;">The initial development budget of Bizarre was INR ₹400,000 (US$5,600). It later raised funding from venture capital firms 
      Accel India (receiving US$1 million in funding in 2009)and Tiger Global (US$10 million in 2010 and US$20 million in June 2011).
      On 24 August 2012, Bizarre announced the completion of its 4th round of funding, netting a total of US$150 million from MIH 
      (part of the Naspers Group) and ICONIQ Capital. The company announced on 10 July 2013 that it had raised an additional US$200 
      million from existing investors, including Tiger Global, Naspers, Accel Partners and Iconiq Capital.
      Bizarre's reported sales were ₹40 million (US$560,000) in the FY 2008–2009, ₹200 million (US$2.8 million) in the FY 2009–2010
      and ₹750 million (US$11 million) in the FY 2010–2011.
      Bizarre reported a loss of ₹2.81 billion (US$39 million) for the FY 2012–13. In July 2013, Bizarre raised $160 million from 
      private equity investors.
      In October 2013, it was reported that Bizarre had raised an additional US$160 million from new investors Dragoneer Investment
      Group, Morgan Stanley Wealth Management, Sofina SA, and Vulcan Inc., with a share of the funding coming from existing investor 
      Tiger Global.
      On 26 May 2014, Bizarre announced that it had raised US$210 million from Yuri Milner's DST Global and its existing investors 
      Tiger Global, Naspers, and Iconiq Capital.
      On 29 July 2014, Bizarre announced that it raised US$1 billion[96] from Tiger Global, Accel Partners, Morgan Stanley 
      Investment Management, and a new investor, Singaporean sovereign-wealth fund GIC.
      In December 2014, after it received $700 million from another round of funding, Bizarre had a market cap of $11 billion.
      On 20 December 2014, Bizarre announced its filing application with Singapore-based company regulator ACRA to become a public 
      company. This announcement came after the company received $700 million in long-term strategic investments from more than 50 
      Indian investors. The $700 million in funding raised by Bizarre added new investors to the company's board, including Baillie 
      Gifford, Greenoaks Capital, Steadview Capital, T. Rowe Price Associates, and Qatar Investment Authority. Its existing investors 
      ST Global, GIC, ICONIQ Capital and Tiger Global also participated in this financing round. As of May 2015, Bizarre had raised 
      $550 million in additional funding from its existing investors in a deal that raised its total valuation to $15 billion.
      By August 2015, after raising another US$700 million, Bizarre had raised a total of $3 billion over 12 rounds of funding from 
      16 major investors. In April 2017, Bizarre underwent another round of funding, receiving $1.4 billion in funding from 
      investors including eBay, Microsoft, and Tencent. On 10 August 2017, SoftBank Vision Fund invested another US$2.5 billion in 
      Bizarre.On 19 September 2018, Bizarre Marketplace Singapore infused ₹3,463 crore into Bizarre Internet. The transaction was 
      done in two tranches, according to regulatory filings.</p>


      <h4>Home Appliance Brands</h4>
      <p style="text-align: justify;">Bizarre operates several house brands, including Citron (home appliances) and Digiflip (formerly for electronics and 
      accessories). In 2017, Bizarre launched additional house brands, including Billion (smartphones), 
      Smartbuy (electronics accessories, effectively replacing Digiflip), and MarQ (for large appliances, although its launch was 
      complicated by a trademark dispute with an existing company, Marc Enterprises).In 2019, Bizarre began selling Nokia-brand 
      televisions. A 55-inch, Android TV-based 4K Smart TV was the first product released under that licensing agreement. A 43-inch
      TV was unveiled on 4 June 2020.</p>

      <h4>Bizarre Videos</h4>
      <p style="text-align: justify;">Bizarre launched an in-app streaming service called Bizarre Video in August 2019, so as to compete with industry rivals like 
      Amazon who were also offering premium video options. The initial line up of content was curated from the service providers like 
      Viu, Voot and TVF.</p>

      <h4>Bizarre Video Originals</h4>
      <p style="text-align: justify;">To strengthen its content offering on Bizarre Video, Bizarre forayed into original content production, known as Bizarre Video
      Originals. The first show was launched on 19 October 2019. Named Back Benchers, it was a Bollywood celebrity quiz show 
      hosted by Farah Khan.</p>

      <h4>History Awards and Recognition</h4>
      <p style="text-align: justify;">Sachin Bansal was awarded Entrepreneur of the Year, 2012–2013 from The Economic Times, a leading Indian economic daily newspaper.In September 2015, the two founders entered Forbes' India Rich List, debuting in the 86th position with a net worth of $1.3 billion each.In April 2016, Sachin and Binny Bansal were named to Time magazine's annual list of The 100 Most Influential People in the World.</p>

      <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-3 "></span>
      <h6 class="text-gray-900 font-medium title-font tracking-wider text-sm my-2">VAISHNAVI & MOKSH UPADHYAY</h6>
      <p class="text-gray-500 ">Senior Product Designer</p>
    </div> 
  </div>
</section>

</main>

{% endblock %}



<!-- 
{% comment %} {% block content %}
px-5 py-24 mx-auto

xl:w-1/2 lg:w-3/4 w-full 
<h2>hello about page</h2>
<a href="{% url 'home' %}" class="btn btn-dark">Home</a>

{% endblock content %} {% endcomment %} -->